body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1000px;
  margin: 50px auto;
}

.icon img {
  display: none;
  width: 20px;
  height: 20px;
}

.icon_close img {
  display: none;
  width: 15px;
  height: 15px;
} 

.item {
  overflow: hidden;
}

.img_wrap .image {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  transition: 0.7s;
}

.title {
 display: block;
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;
}

.title h3 {
  margin: 10px;
}

.input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.input:checked + .img_wrap .image {
  opacity: 1;
  display: block;
  margin: 35px auto 40px auto;
  width: 300px;
  height: 300px;
  transform: scale(1.2);
}

.input:hover + .img_wrap .image,
.item:hover .image {
  opacity: 1;
  display: block;
  margin: 35px auto 40px auto;
  width: 300px;
  height: 300px;
  transform: scale(1.2);
};