@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Shantell+Sans&family=Yeseva+One&display=swap');

body {
  margin: 0;
  background: linear-gradient(-45deg, #80ed99, #fee440, #bc4749, #b8c0ff);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

* {
  font-family: 'Yeseva One', cursive;
  color: #fefae0;
}

h1 {
  color: #003566;
  font-family: 'Rampart One', cursive;
  font-size: 3em;
  margin: 0 auto 1rem auto;
}

.container {
  width: 45vw;
  margin: 2.1rem auto;
  cursor: pointer;
}

.border {
  display: block;
  height: 0.2rem;
  width: 100%;
  background-color: #ce6a85;
  border-radius: 0.2rem;
}

.item {
  overflow: hidden;
  cursor: pointer;
}

.item-icon {
  display: none;
  transition: 0.5s;

}

.item-icon i {
  color: #000189;
}

label {
  cursor: pointer;
}

.item-title {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item-title h3 {
  margin: 1rem 0;
  font-size: 1.2em;
}


.item-image .image {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  transition: 0.7s;
}

.item-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.container:hover .item .item-icon {
  display: block;
}

.container:hover .item-title h3 {
  color: #000189;
}


.item-input:checked~.item-image .image {
  opacity: 1;
  display: block;
  margin: 2.2rem auto 2.5rem auto;
  width: 19rem;
  height: 19rem;
  transform: scale(1.2);
}

.item:active .item-title h3,
.item:active .item-icon i {
  color: #fefae0;
}

.item-input:checked+.item-title h3 {
  color: #000189;
}

.item-input:checked~.item-title .item-icon,
.item-input:hover~.item-title .item-icon {
  transform: rotate(45deg);
}

.item-input:hover~.item-image .image,
.item:hover .item-image .image {
  opacity: 1;
  display: block;
  margin: 2.2rem auto 2.5rem auto;
  width: 19rem;
  height: 19rem;
  transform: scale(1.2);
}

@media (min-width: 901px) and (max-width: 1280px) {
  .container {
    width: 65%;
  }

  h1 {
    font-size: 3.1rem;
  }

  .item-title h3 {
    font-size: 1.6rem;
  }
  * {
    color: #000189;
  }

  .item-input:hover~.item-image .image, .item:hover .item-image .image {
    width: 43%;
    height: 43%;
    margin: 2.2rem auto 3.5rem auto;
  }

  .item-input:checked~.item-image .image {
    width: 43%;
    height: 43%;
    margin: 2.2rem auto 3.5rem auto;
  }

  .container:hover .item .item-icon {
    display: none;
  }
  .item-input:checked+.item-title h3 {
    color: white;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 65%;
  }

  h1 {
    font-size: 2.7rem;
  }

  .item-title h3 {
    font-size: 1.5rem;
  }
  * {
    color: #000189;
  }

  .item-input:hover~.item-image .image, .item:hover .item-image .image {
    width: 55%;
    height: 55%;
    margin: 2.2rem auto 3.5rem auto;
  }

  .item-input:checked~.item-image .image {
    width: 55%;
    height: 55%;
    margin: 2.2rem auto 3.5rem auto;
  }

  .container:hover .item .item-icon {
    display: none;
  }
  .item-input:checked+.item-title h3 {
    color: white;
  }
}

@media (min-width: 376px) and (max-width: 600px){
  .container {
    width: 80%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .item-title h3 {
    font-size: 1.2rem;
  }
  * {
    color: #000189;
  }

  .item-input:hover~.item-image .image, .item:hover .item-image .image {
    width: 85%;
    height: 85%;
    margin: 1.2rem auto 2.5rem auto;
  }

  .item-input:checked~.item-image .image {
    width: 85%;
    height: 85%;
    margin: 1.2rem auto 2.5rem auto;
  }

  .container:hover .item .item-icon {
    display: none;
  }
  .item-input:checked+.item-title h3 {
    color: white;
  }
}

@media (min-width: 300px) and (max-width: 375px){
  .container {
    width: 80%;
  }

  h1 {
    font-size: 2rem;
  }

  .item-title h3 {
    font-size: 1rem;
  }
  * {
    color: #000189;
  }

  .item-input:hover~.item-image .image, .item:hover .item-image .image {
    width: 85%;
    height: 85%;
    margin: 1.2rem auto 2.5rem auto;
  }

  .item-input:checked~.item-image .image {
    width: 85%;
    height: 85%;
    margin: 1.2rem auto 2.5rem auto;
  }

  .container:hover .item .item-icon {
    display: none;
  }
  .item-input:checked+.item-title h3 {
    color: white;
  }
}





